* {
    margin: 0; 
    padding: 0;
    text-align: center;
    color: #555555; 
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.styles {
	font: italic 13px Georgia, serif;
	color: #AAAAAA;
}

div:hover {
    background-color: #CCCCCC;
}

.container {
    width: 98%;
	padding: 1%;
    background-color: #DDDDDD;
	overflow: auto;  /* OVERFLOW METHOD  */
}

/* PSEUDO DIV METHOD */
/* 
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
*/

/* MANUALLY DIV METHOD */
/*	 
.clearBoth {
    clear: both;
    border: 1px solid;
    height: 0px;
    visibility: hidden;
}
*/

.header {
    width: 98%;
    margin: 1%;
    background-color: #EEEEEE;
    float: left;
}

.content {
    width: 68%;
    margin: 1%;
    background-color: #EEEEEE;
    float: left;
}

.aside {
    width: 28%;
    margin: 1%;
    background-color: #EEEEEE;
    float: left;
}

.footer {
    width: 98%;
    margin: 1%;
    background-color: #EEEEEE; 
    float: left;  /* FLOAT METHOD */
}

@media (max-width: 480px) {
    .aside {
        width: 98%;
        border: 1% solid;
    }
    .content {
        width: 98%;
    }
}